<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="HomeStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@1&family=Harmattan:wght@700&family=Ingrid+Darling&family=Kavoon&family=Lalezar&family=Lobster&family=Satisfy&display=swap" rel="stylesheet">
    <title>HomePage</title>
</head>

<body>
  <header>
      <nav>
          <div class="nav_leftside">
              <img src="../MEow-do/img/HomePage/logo.svg" alt="logo" style="width:  168px; height: 168px; position:absolute; top: 1px;">
              <span class="logoName">Meow-Do</span>
          </div>
          <div class="nav_rightside">
              <a href="#" class="HA">Home</a>
              <a href="#">SignUp/Login</a>
              <a href="#"> hello</a>
          </div>
      </nav>
  </header>
  <main>
      <div class="Home_btn">
        
              <a href="#">Start Your To-Do List</a>
         
      </div>
  </main>
</body>
</html>